footer {
    display: flex;
    padding: 2rem 1.2rem 0.8rem 1.2rem;
    background-color: #030404;
    color: #ffdfdf;
    font-size: 0.6em;
}

#githubIcon {
    background-color: #ffdfdf;
    border: 0px;
    border-radius: 50%;
    height: 3.2rem;
}
